section.footer
  .footerHeader
    img.footerHeaderLogo(src='./img/Skol-icono-celular.svg', alt='logo')
    .footerHeaderText
      h4.footerHeaderTextTitle Uruguay - Argentina - Colombia
      p.footerHeaderTextCopyright © Copyright 2014 - All rigths Reserved
      .footerHeaderTextMail
        i.fa.fa-envelope.footerHeaderTextMailIcon(aria-hidden='true')
        a.footerHeaderTextMailElement(href='#') info@skolsolutions.com
  .footerNav
    ul.footerNavList
      li.footerNavListElement Quienes somos
      li.footerNavListElement Soluciones
      li.footerNavListElement Soporte
      li.footerNavListElement Clientes
    ul.footerNavIcons
      li.footerNavIconsElement
        a(href='#')
          img(src='./img/Salas-multimedia-footer-celular.svg', alt='salas multimedias')
      li.footerNavIconsElement
        a(href='#')
          img(src='./img/Video-conferencia-footer-celular.svg', alt='Video Conferencias')
      li.footerNavIconsElement
        a(href='#')
          img(src='./img/Automatizacion-footer-celular.svg', alt='Automatizacion')
      li.footerNavIconsElement
        a(href='#')
          img(src='./img/Video-wall-display-footer-celular.svg', alt='Video-wall display')
      li.footerNavIconsElement
        a(href='#')
          img(src='./img/Sincronización-de-ambiente-footer-celular.svg', alt='Sincronización de ambiente')
      li.footerNavIconsElement
        a(href='')
          img(src='./img/Mobiliario-footer-celular.svg', alt='Mobiliario')
      li.footerNavIconsElement
        a(href='')
          img(src='./img/Poryector-footer-celular.svg', alt='Proyectores')
  .footerSocial
    a(href='#')
      i.fab.fa-linkedin-in
    a(href='#')
      i.fab.fa-facebook-f